body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.box {
    font: 10px sans-serif;
}

.box line,
.box rect,
.box circle {
    fill: #fff;
    stroke: #000;
    stroke-width: 1.5px;
}

.box .center {
    stroke-dasharray: 3,3;
}

.box .outlier {
    fill: none;
    stroke: #ccc;
}

h1 {
    text-align: center;
}

/* First plot */
#first_plot {
    width: 50%;
    height: 350px;
    float: left;
}

#first_plot h3 {
    margin: 0;
    padding: 0;
}

.description1 {
    width: calc(50% - 100px);
    height: 350px;
    padding: 20px 50px;
    text-align: center;
    float: right;
}

/* Second plot */
#second_plot {
    width: 50%;
    height: 350px;
    float: right;
    clear: both;
}

#second_plot h3 {
    margin: 0;
    padding: 0;
}

.description2 {
    width: calc(50% - 100px);
    height: 350px;
    padding: 20px 50px;
    text-align: center;
    float: left;
}

/* Third plot */
#third_plot {
    width: 400px;
    margin-left: 50px;
    clear: both;
    float: left;
}

#third_plot h3 {
    margin: 0;
    padding: 0;
}

.description3 {
    width: calc(50% - 100px);
    height: 350px;
    padding: 70px 50px;
    text-align: center;
    float: right;
}

.third_plot_label1 {
    display: inline-block;
    margin-left: 75px;
    height: 20px;
}

.third_plot_label2 {
    display: inline-block;
    margin-left: 150px;
    height: 20px;
}

h3 {
    text-align: center;
}

.description {
    width: 700px;
    margin-left: 150px;
    text-align: center;
}
